<section class="home">
  <div class="wrapper">
    <nav class="tabs">
      <a href="#" class="current" (click)="changeTab(true)">
        Dicas
      </a>
      <a href="#" (click)="changeTab(false)">
        Dúvidas
      </a>
    </nav>

    <article class="tab-content">
      <div class="tips" *ngIf="tabActive">
        <nav class="hobbies">
          <a href="#" [ngClass]="{ current: tipId == '' }">
            <img src="../../assets/images/checklist.svg" alt="All Options" />
            <span>Todas</span>
          </a>
          <a
            href="/{{ hobbie.id }}"
            *ngFor="let hobbie of hobbies"
            [ngClass]="{ current: tipId == hobbie.id }"
          >
            <img
              src="../../assets/images/checklist.svg"
              alt="{{ hobbie.nome }}"
            />
            <span>{{ hobbie.nome }}</span>
          </a>
        </nav>

        <ul *ngIf="tipId == '' || tipId == 1">
          <li>
            <a href="#">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Compostagem</h3>
                <p>
                  Carnes não devem entrar na compostagem.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Compostagem</h3>
                <p>
                  Carnes não devem entrar na compostagem.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Compostagem</h3>
                <p>
                  Carnes não devem entrar na compostagem.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Compostagem</h3>
                <p>
                  Carnes não devem entrar na compostagem.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Compostagem</h3>
                <p>
                  Carnes não devem entrar na compostagem.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Compostagem</h3>
                <p>
                  Carnes não devem entrar na compostagem.
                </p>
              </div>
            </a>
          </li>
        </ul>

        <ul *ngIf="tipId == '' || tipId == 2">
          <li>
            <a href="#">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Origami</h3>
                <p>
                  Uma arte tradicional japonesa que significa literalmente
                  "dobrar papel".
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Origami</h3>
                <p>
                  Uma arte tradicional japonesa que significa literalmente
                  "dobrar papel".
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Origami</h3>
                <p>
                  Uma arte tradicional japonesa que significa literalmente
                  "dobrar papel".
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Origami</h3>
                <p>
                  Uma arte tradicional japonesa que significa literalmente
                  "dobrar papel".
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Origami</h3>
                <p>
                  Uma arte tradicional japonesa que significa literalmente
                  "dobrar papel".
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Origami</h3>
                <p>
                  Uma arte tradicional japonesa que significa literalmente
                  "dobrar papel".
                </p>
              </div>
            </a>
          </li>
        </ul>

        <div class="empty" *ngIf="tipId != '' && tipId != 1 && tipId != 2">
          <p>
            Desculpe, mas não existem dicas para esse hobbie cadastradas.
          </p>
        </div>
      </div>
    </article>
  </div>
</section>

<app-alert
  #errorAlert
  header="Ops!"
  icon="attention"
  textButton="Tentar novamente"
  (onInteract)="onAlertInteract($event)"
>
  <p>{{ errorMessage }}</p>
</app-alert>
