<sections class="home">
  <div class="wrapper">
    <nav class="tabs">
      <a href="#" class="current">
        Dicas
      </a>
      <a href="#">
        Dúvidas
      </a>
    </nav>

    <article class="tab-content">
      <nav class="hobbies">
        <a href="#" class="current">
          <img src="../../assets/images/checklist.svg" alt="All Options" />
          <span>Todas</span>
        </a>
        <a href="#">
          <img src="../../assets/images/checklist.svg" alt="All Options" />
          <span>Jardinagem</span>
        </a>
        <a href="#">
          <img src="../../assets/images/checklist.svg" alt="All Options" />
          <span>Todas</span>
        </a>
        <a href="#">
          <img src="../../assets/images/checklist.svg" alt="All Options" />
          <span>Todas</span>
        </a>
        <a href="#">
          <img src="../../assets/images/checklist.svg" alt="All Options" />
          <span>Todas</span>
        </a>
      </nav>
    </article>
  </div>
</sections>
