<section class="home">
  <div class="wrapper">
    <nav class="tabs">
      <a
        href="javascript:void(0)"
        [ngClass]="{ current: tabActive == 'dicas' }"
        (click)="changeTab('dicas')"
      >
        Dicas
      </a>
      <a
        href="javascript:void(0)"
        [ngClass]="{ current: tabActive == 'duvidas' }"
        (click)="changeTab('duvidas')"
      >
        Dúvidas
      </a>
    </nav>

    <article class="tab-content current" *ngIf="!loaded">
      <div class="loading">
        <small>Carregando informações...</small>

        <nav class="hobbies">
          <a href="javascript:void(0)"></a>
          <a href="javascript:void(0)"></a>
          <a href="javascript:void(0)"></a>
          <a href="javascript:void(0)"></a>
          <a href="javascript:void(0)"></a>
        </nav>

        <ul>
          <li>
            <a href="javascript:void(0)">
              <div class="img-container"></div>
              <div>
                <h3></h3>
                <p></p>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="img-container"></div>
              <div>
                <h3></h3>
                <p></p>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="img-container"></div>
              <div>
                <h3></h3>
                <p></p>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="img-container"></div>
              <div>
                <h3></h3>
                <p></p>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="img-container"></div>
              <div>
                <h3></h3>
                <p></p>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="img-container"></div>
              <div>
                <h3></h3>
                <p></p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </article>

    <article class="tab-content" *ngIf="loaded">
      <nav class="hobbies">
        <a
          href="/{{ tabActive }}/hobbie/0"
          [ngClass]="{ current: hobbieId == '0' }"
        >
          <img src="../../assets/images/checklist.svg" alt="All Options" />
          <span>Todas</span>
        </a>
        <a
          href="/{{ tabActive }}/hobbie/{{ hobbie.id }}"
          *ngFor="let hobbie of hobbies"
          [ngClass]="{ current: hobbieId == hobbie.id }"
        >
          <img
            src="../../assets/images/checklist.svg"
            alt="{{ hobbie.nome }}"
          />
          <span>{{ hobbie.nome }}</span>
        </a>
      </nav>

      <div class="content tips" [ngClass]="{ current: tabActive == 'dicas' }">
        <ul *ngIf="hobbieId == '0' || hobbieId == '1'">
          <li>
            <a href="dicas/1">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Compostagem</h3>
                <p>
                  Carnes não devem entrar na compostagem.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="dicas/1">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Compostagem</h3>
                <p>
                  Carnes não devem entrar na compostagem.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="dicas/1">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Compostagem</h3>
                <p>
                  Carnes não devem entrar na compostagem.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="dicas/1">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Compostagem</h3>
                <p>
                  Carnes não devem entrar na compostagem.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="dicas/1">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Compostagem</h3>
                <p>
                  Carnes não devem entrar na compostagem.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="dicas/1">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Compostagem</h3>
                <p>
                  Carnes não devem entrar na compostagem.
                </p>
              </div>
            </a>
          </li>
        </ul>

        <ul *ngIf="hobbieId == '0' || hobbieId == '2'">
          <li>
            <a href="dicas/1">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Origami</h3>
                <p>
                  Uma arte tradicional japonesa que significa literalmente
                  "dobrar papel".
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="dicas/1">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Origami</h3>
                <p>
                  Uma arte tradicional japonesa que significa literalmente
                  "dobrar papel".
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="dicas/1">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Origami</h3>
                <p>
                  Uma arte tradicional japonesa que significa literalmente
                  "dobrar papel".
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="dicas/1">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Origami</h3>
                <p>
                  Uma arte tradicional japonesa que significa literalmente
                  "dobrar papel".
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="dicas/1">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Origami</h3>
                <p>
                  Uma arte tradicional japonesa que significa literalmente
                  "dobrar papel".
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="dicas/1">
              <div class="img-container">
                <img
                  src="../../assets/images/composting.svg"
                  alt="Composting"
                />
              </div>
              <div class="tip-desc">
                <h3>Origami</h3>
                <p>
                  Uma arte tradicional japonesa que significa literalmente
                  "dobrar papel".
                </p>
              </div>
            </a>
          </li>
        </ul>

        <div
          class="empty"
          *ngIf="hobbieId != '0' && hobbieId != '1' && hobbieId != '2'"
        >
          <p>
            Desculpe, mas não existem dicas para esse hobbie cadastradas.
          </p>
        </div>
      </div>

      <div
        class="content doubts"
        [ngClass]="{ current: tabActive == 'duvidas' }"
      >
        <ul>
          <li>
            <a href="javascript:void(0)">
              <div class="img-container">
                <img src="../../assets/images/avatar.svg" alt="Avatar" />
              </div>
              <div>
                <span>Andrey Masiero</span>
                <h3>Matei a suculenta</h3>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <div class="img-container">
                <img src="../../assets/images/avatar-2.svg" alt="Avatar" />
              </div>
              <div>
                <span>Gabriela Salmomão</span>
                <h3>Dúvida sobre jardinagem</h3>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>

<app-alert
  #errorAlert
  header="Ops!"
  icon="attention"
  textButton="Tentar novamente"
  (onInteract)="onAlertInteract($event)"
>
  <p>{{ errorMessage }}</p>
</app-alert>
