@import "../../../assets//styles/colors.scss";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 90%;
  max-width: 400px;
  margin: auto;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: 20px 0 40px;
}

form {
  width: 100%;

  label {
    span {
      display: block;
      font-size: 20px;
      margin: 0 0 10px;
    }

    small {
      color: #c00;
    }

    & + label {
      margin-top: 20px;
    }
  }

  %test {
    position: absolute;
    content: "";
    transition: all 0.5s;
  }
}
