.wrapper {
  width: 90%;
  max-width: 500px;
  margin: auto;
}

form {
  width: 100%;
  padding-top: 100px;

  label {
    display: block;

    & + label {
      margin-top: 25px;
    }

    span {
      display: block;
      font-size: 20px;
      margin: 0 0 5px;
    }

    input {
      display: block;
      width: 100%;
      font-size: 18px;
      padding: 10px 20px;
      border: 1px solid #666;
      border-radius: 7px;
    }

    small {
      color: #c00;
    }
  }

  %test {
    position: absolute;
    content: "";
    transition: all 0.5s;
  }

  button {
    background: #fff;
    position: relative;
    display: block;
    width: 200px;
    font-size: 18px;
    color: #333;
    text-transform: uppercase;
    padding: 12px 20px 10px;
    margin: 30px auto 0;
    border: 1px solid #666;
    border-radius: 7px;
    transition: 0.3s;
    cursor: pointer;
  }
}
