<div class="container">
  <div class="wrapper">
    <img src="../../../assets/images/logo.svg" alt="" />

    <h1>Cadastro</h1>
    <form action="" method="post" id="register_form" [formGroup]="registerForm">
      <label>
        <span>Nome:</span>
        <input
          type="text"
          name="name"
          [(ngModel)]="objectData.name"
          formControlName="name"
          required
        />
        <small *ngIf="getFieldError('name')">{{ getFieldError("name") }}</small>
      </label>

      <label>
        <span>Sobrenome:</span>
        <input
          type="text"
          name="lastname"
          [(ngModel)]="objectData.lastname"
          formControlName="lastname"
          required
        />
        <small *ngIf="getFieldError('lastname')">{{
          getFieldError("lastname")
        }}</small>
      </label>

      <!-- <label>
        <span>Celular:</span>
        <input
          type="text"
          name="cell"
          [(ngModel)]="objectData.cell"
          formControlName="cell"
          mask="(00) 00000-0000"
          [validation]="true"
          required
        />
        <small *ngIf="getFieldError('cell')">{{ getFieldError("cell") }}</small>
      </label> -->

      <label>
        <span>Senha:</span>
        <input
          type="password"
          name="password"
          [(ngModel)]="objectData.password"
          formControlName="password"
          required
        />
        <small *ngIf="getFieldError('password')">{{
          getFieldError("password")
        }}</small>
      </label>

      <label>
        <span>Confirme a Senha:</span>
        <input
          type="password"
          name="confirm_password"
          [(ngModel)]="objectData.confirm_password"
          formControlName="confirm_password"
          required
        />
        <small *ngIf="getFieldError('confirm_password')">{{
          getFieldError("confirm_password")
        }}</small>
      </label>

      <button type="submit" (click)="handleRegisterUser()">
        Próximo passo
      </button>
    </form>
  </div>
</div>
