<header>
  <div class="wrapper">
    <nav>
      <a href="/" class="logo">
        <h1>
          <img src="../../../assets/images/logo.svg" alt="Velho Hábito" />
        </h1>
      </a>

      <ul>
        <li>
          <a href="#">
            <img />
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img />
            <span>Atividades</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img />
            <span>Perfil</span>
          </a>
        </li>
      </ul>
    </nav>

    <div>
      <div class="notifications">
        <a href="#">
          <img src="../../../assets/images/messages.svg" alt="Messages" />
        </a>
      </div>
      <a href="#" class="perfil">
        <img src="../../../assets/images/avatar.svg" alt="Avatar" />
        <span>Douglas Cabral</span>
      </a>
    </div>
  </div>
</header>
