<header>
  <div class="wrapper">
    <nav>
      <a href="/" class="logo">
        <h1>
          <img src="../../../assets/images/logo.svg" alt="Velho Hábito" />
        </h1>
      </a>

      <ul>
        <li>
          <a [routerLink]="home" routerLinkActive="active">
            <img />
            <span>Home</span>
          </a>
        </li>
        <li>
          <a [routerLink]="atividades" routerLinkActive="active">
            <img />
            <span>Atividades</span>
          </a>
        </li>
        <li>
          <a [routerLink]="perfil" routerLinkActive="active">
            <img />
            <span>Perfil</span>
          </a>
        </li>
      </ul>
    </nav>

    <div>
      <a href="javascript:void(0)" class="perfil">
        <img src="../../../assets/images/avatar.svg" alt="Avatar" />
        <span>{{ nome }}</span>
      </a>
      <a href="javascript:void(0)" class="logout" (click)="logout()">
        <img src="../../../assets/images/logout.svg" alt="Logout" />
      </a>
    </div>
  </div>
</header>
