<div class="hero"></div>

<div class="wrapper">
  <h2>POR QUE NÃO PODE POR CARNE NA COMPOSTAGEM?</h2>

  <p>
    RESTOS DE FRANGO, PEIXE E CARNE BOVINA SÃO MUITO DANOSOS PARA A COMPOSTEIRA.
    A DECOMPOSIÇÃO É DEMORADA, CAUSA MAU CHEIRO E ATRAI ANIMAIS.
  </p>
  <p>
    BACON IPSUM DOLOR AMET FLANK FATBACK BRESAOLA SHANK HAM SALAMI BEEF RIBS
    CAPICOLA PORK CHOP FRANKFURTER SHANKLE PORCHETTA. BEEF PICANHA BRESAOLA
    STRIP STEAK PANCETTA SHORT RIBS TRI-TIP BRISKET CAPICOLA PROSCIUTTO. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Officiis atque corrupti,
    recusandae, quibusdam error sed delectus quasi qui praesentium commodi
    eveniet. Ratione deserunt expedita natus non, nihil adipisci similique
    earum.
  </p>
  <p>
    BACON IPSUM DOLOR AMET FLANK FATBACK BRESAOLA SHANK HAM SALAMI BEEF RIBS
    CAPICOLA PORK CHOP FRANKFURTER SHANKLE PORCHETTA. BEEF PICANHA BRESAOLA
    STRIP STEAK PANCETTA SHORT RIBS TRI-TIP BRISKET CAPICOLA PROSCIUTTO. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Officiis atque corrupti,
    recusandae, quibusdam error sed delectus quasi qui praesentium commodi
    eveniet. Ratione deserunt expedita natus non, nihil adipisci similique
    earum.
  </p>
  <p>
    BACON IPSUM DOLOR AMET FLANK FATBACK BRESAOLA SHANK HAM SALAMI BEEF RIBS
    CAPICOLA PORK CHOP FRANKFURTER SHANKLE PORCHETTA. BEEF PICANHA BRESAOLA
    STRIP STEAK PANCETTA SHORT RIBS TRI-TIP BRISKET CAPICOLA PROSCIUTTO. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Officiis atque corrupti,
    recusandae, quibusdam error sed delectus quasi qui praesentium commodi
    eveniet. Ratione deserunt expedita natus non, nihil adipisci similique
    earum.
  </p>
</div>
