body {
  display: flex;
  align-content: center;
  justify-content: center;
}

.wrapper {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

form {
  width: 100%;

  label {
    display: block;

    span {
      display: block;

      input {
        width: 100%;
        font-size: 18px;
        padding: 10px 20px;
        border: 1px solid #ccc;
      }
    }
  }
}
