<div class="container">
  <div class="wrapper">
    <img src="../../../assets/images/logo.svg" alt="" />

    <h1>Entrar</h1>

    <form action="" method="post">
      <label>
        <span>Seu telefone:</span>
        <input type="text" name="cell" required />
      </label>

      <label>
        <span>Sua senha:</span>
        <input type="password" name="password" required />
        <a href="#">Esqueci a senha</a>
      </label>

      <button type="submit">Entrar</button>

      <p>Não tem uma conta? <a href="/register">clique aqui</a></p>
    </form>
  </div>
</div>
